#
# LevelTools by byteful
#
# Wiki: https://github.com/byteful/LevelTools/wiki/Configuration
#

# Useful Links:
# - https://minecraft.fandom.com/wiki/Attribute
# - https://hub.spigotmc.org/javadocs/spigot/org/bukkit/attribute/Attribute.html
# - https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Material.html
# - https://hub.spigotmc.org/javadocs/spigot/org/bukkit/enchantments/Enchantment.html
# - https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Sound.html
# - https://hub.spigotmc.org/javadocs/spigot/org/bukkit/entity/EntityType.html

# Configuration for update checker.
update:
  # Should LevelTools check for updates on start?
  start: true
  # Should LevelTools check for updates periodically?
  periodically: true

# Configuration for block data storage.
block_data_storage:
  # Defines the method used for storing and retrieving placed block data.
  # Options:
  #
  #   > LEGACY_TEXT: The original custom plain text file format. Easy to modify by hand.
  #
  #   > SQLITE:      Uses an embedded SQLite database. Recommended for performance,
  #                  scalability with large datasets, and data integrity.
  #
  type: SQLITE

# Configuration for messages.
messages:
  no_permission: "&cYou do not have permission to execute this command!"
  successful_reload: "&aSuccessfully reloaded LevelTools!"
  successfully_executed_action: "&aSuccessfully executed action for item in hand."
  item_not_tool: "&cThe item in hand is not supported by LevelTools!"
  successfully_reset_tools: "&aSuccessfully reset all tool XP/Levels for {player}."
  successfully_reset_hand_tool: "&aSuccessfully reset tool in hand's XP/Levels for {player}."

# What action should be done when combining items in an anvil?
# Modes: "HIGHER_OF_BOTH" (Takes level and xp of higher level item), "LOWER_OF_BOTH" (Takes level and xp of lower level item), OR "ADD_BOTH" (Adds the level and XP of both items)
anvil_combine: "ADD_BOTH"

# The mathematical formula to calculate the required XP for next level.
# Placeholders/Variables provided: {current_level}
# This is the global default. Can be overridden per item profile.
level_xp_formula: "100 + {current_level} * 100"

# Should blocks that are placed by a player count towards XP?
playerPlacedBlocks: false

# Configuration for the sound played during a level up.
level_up_sound:
  sound: "ENTITY_PLAYER_LEVELUP" # Set to null to disable this.
  pitch: 1.0
  volume: 1.0

# Set to true if leveled items should show attributes. Recommended to keep this true to prevent "lore spam".
hide_attributes: true

# A list of worlds where LevelTools is disabled. Plugins using LevelTools' API will not be affected. Only LevelTools' core logic will be disabled in these worlds.
disabled_worlds:
  - "disabled_world"
